<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @inspection.name %>
</p>

<p>
  <b>Notes:</b>
  <%= @inspection.notes %>
</p>

<p>
  <b>Started at:</b>
  <%= @inspection.started_at %>
</p>

<p>
  <b>Finished at:</b>
  <%= @inspection.finished_at %>
</p>

<% if @inspection.observables.present? %>
  <%= render :partial => 'observables', :locals => {:observables => @inspection.observables} %>
<% else %>
  <p>No observables for this inspection.</p>
<% end %>

<%= link_to 'Edit', edit_inspection_path(@inspection) %> |
<%= link_to 'Back', inspections_path %>
